.page-main {
    padding: 24px 0 40px;
}

.page-main__wrapper {
    @include wrapper;
}

.page-main__header {
    margin-bottom: 40px;
    padding: 0 8px;
}

.page-main__back {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.page-main__back-button {
    position: relative;

    width: 40px;
    height: 40px;
    margin-right: 12px;
    padding: 0;

    border: 1px solid $gray-border;
    border-radius: 50%;
    background-color: $light;
    cursor: pointer;

    transition-duration: $transition-duration;

    &:hover {
        color: $light;

        border-color: $dark;
        background-color: $dark;

        &::before,
        &::after {
            margin-left: -8px;

            background-color: $light;
        }
    }

    &:active {
        opacity: 0.6;

        transition-duration: 0s;
    }

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;

        width: 10px;
        height: 2px;
        margin-left: -6px;

        border-radius: 5px;
        background-color: $dark;

        transition-timing-function: ease-in;
        transition-duration: $transition-duration;
    }

    &::before {
        margin-top: -4px;

        transform: rotate(-45deg);
    }

    &::after {
        margin-top: 2px;

        transform: rotate(45deg);
    }
}

.page-main__back-text {
    font-size: 15px;
    font-weight: 700;
    line-height: 1.3;
}

.page-main__header-breadcrumbs {
    margin-bottom: 8px;
}

.page-main__title {
    margin: 0;

    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
}

.page-main__side-nav {
    display: none;
}

@media (min-width: $tablet-width) {

    .page-main {
        padding: 35px 0;
    }

    .page-main__wrapper {
        display: grid;
        grid-template-columns: 25% 70.8%;
        grid-column-gap: 4.2%;
        grid-template-rows: 1fr auto;
        grid-row-gap: 43px;
    }

    .page-main__header {
        display: grid;
        grid-template-columns: 25% 70.8%;
        grid-column-gap: 50px;
        grid-column-start: 1;
        grid-column-end: 3;
        align-items: end;
        margin-bottom: 0;
        padding: 0;
    }

    .page-main__back {
        grid-column: 1;
        grid-row-start: 1;
        grid-row-end: 4;
        height: max-content;
        margin-bottom: 0;
    }

    .page-main__header-breadcrumbs {
        grid-column: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .page-main__title {
        grid-column: 2;
        grid-row-start: 3;
        grid-row-end: 3;
        padding-bottom: 5px;
    }

    .page-main__side-nav {
        display: block;
    }

    .page-main__settings {
        height: max-content;
    }
}
